<div class="container">
<center>
  <div id="formContent">
  <center>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  

  <table>
    <tr><td><hr></td></tr>
    <tr>
      <td><h5>Basic Information :</h5></td>
    </tr>
    <tr><td><hr></td></tr>
    <tr>
      <td><%= f.text_field :first_name, placeholder: "first_name" %></td>
    </tr>
    <tr><td><hr></td></tr>
    <tr>  
      <td><%= f.text_field :last_name, placeholder: "last_name" %></td>
    </tr>
    <tr><td><hr></td></tr>
    <tr>
      <td><%= f.text_field :mobile_number, placeholder: "mobile_number" %></td>
    </tr>  
    <tr><td><hr></td></tr>
        <%= f.hidden_field :status %>
    
    <tr>  
      <td><%= f.email_field :email, autofocus: true, autocomplete: "    
        email", placeholder: "email" , readonly: true%><% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %></td>
    </tr>   
    <tr><td><hr></td></tr>
    <tr>
    <td><%= f.password_field :password, autocomplete: "new-password", placeholder: "new-password" %></td><br /></td>
    <% if @minimum_password_length %>
    <% end %>
  </tr>
  <tr><td><hr></td></tr>
  <tr>
    <td><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "new_password" %></td>
  </tr>
  <tr><td><hr></td></tr>
  <tr>
    <td><%= f.password_field :current_password, autocomplete: "current-password", placeholder: "current_password" %></td>
  </tr>
    <tr><td><hr></td></tr>
    <tr>
      <td><h5>Address :</h5></td>
    </tr>
    <tr><td><hr></td></tr>
      <%= f.fields_for :address do |address|%>
          <%#= render :partial => "registrations/address", :locals => { :f     => rf } %>
        <%= address.hidden_field :user_id %>
        <tr>
          <td><%= address.text_field :house_number, placeholder: "house_number" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
          <td><%= address.text_field :colony, placeholder: "colony" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr> 
          <td><%= address.text_field :landmark, placeholder: "landmark" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>    
          <td><%= address.text_field :district, placeholder: "district" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr> 
          
          <td><%= address.text_field :state, placeholder: "state" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
          <td><%= address.text_field :pincode, placeholder: "pincode" %></td>
        </tr>
        <tr><td><hr></td></tr>
      <% end %>
      <tr>
      <div class="actions">
        <td><%= f.submit "Update" %></td>
      </div>
      </tr>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  

<% end %>
<tr>
  <td><h3>Cancel my account</h3></td>
</tr>
<tr><td><p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p></td></tr>

<tr><td><%= link_to "Back", :back %></td></tr>

</table>
</center>
</div>
</center> 
</div>