<div class="container">
<center>
  <div id="formContent">
    <center>
<h4>Sign up</h4>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <table>
    <tr><td><hr></td></tr>
    <tr>
      <td><h5>Basic Information :</h5></td>
    </tr>
    <tr><td><hr></td></tr>  
    <tr>
      <td><%= f.text_field :first_name, placeholder: "first_name" %></td>
    </tr>
    <tr><td><hr></td></tr>
    <tr>  
      <td><%= f.text_field :last_name, placeholder: "last_name" %></td>
    </tr>
    <tr><td><hr></td></tr>  
    <tr>
      <td><%= f.text_field :mobile_number, placeholder: "mobile_number" %></td>
    </tr>  
    <tr><td><hr></td></tr>
        <%= f.hidden_field :status %>

    <tr>  
      <td><%= f.email_field :email, autofocus: true, autocomplete: "    
        email", placeholder: "email" %></td>
    </tr>   
    <tr><td><hr></td></tr>
    <tr> 
        <% if @minimum_password_length %>
        <% end %>
      <td><%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %></td>
    </tr>  
    <tr><td><hr></td></tr>
    <tr>  
      
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password_confirmation" %></td>
    </tr>  
    <tr><td><hr></td></tr>
    <tr>
      <td><h5>Address :</h5></td>
    </tr>
    <tr><td><hr></td></tr>
      <%= f.fields_for :address do |address|%>
        <%= address.hidden_field :user_id %>
        <tr>
          <td><%= address.text_field :house_number, placeholder: "house_number" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
          <td><%= address.text_field :colony, placeholder: "colony" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
          <td><%= address.text_field :landmark, placeholder: "landmark" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>  
          <td><%= address.text_field :district, placeholder: "district" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>   
          <td><%= address.text_field :state, placeholder: "state" %></td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
          <td><%= address.text_field :pincode, placeholder: "pincode" %></td>
        </tr>
          <%= address.hidden_field :latitude, :value => params[:latitude] %>
          <%= address.hidden_field :longitude, :value => params[:longitude] %>

        <% end %>
        <%= hidden_field_tag :initial_role, params[:role] %>

      <tr><td><hr></td></tr>
      
  </table>
  <%= f.submit "Sign up", class:"btn btn-outline-info" %>
<% end %>
</center>
</div>
</center>
<%#= render "devise/shared/links" %>
</div>