<div class="container">
<center>
  <div id="formContent">
    <center>
<h4>Sign up for medical store</h4>

<%= form_for :medical, :url => { :action => "create" } do |f| %>

  <table>
    <tr><td><hr></td></tr>
    <tr>
      <td><h5>Basic Information :</h5></td>
    </tr>
    <tr><td><hr></td></tr>  
    <tr>
      <td><%= f.text_field :name, placeholder: "medical_name" %></td>
    </tr>
    <tr><td><hr></td></tr>
    <tr>  
      <td><%= f.text_field :registerd_person_name, placeholder: "registerd_person_name" %></td>
    </tr>
    <tr><td><hr></td></tr>  
    <tr>
      <td><%= f.text_field :mobile_number, placeholder: "mobile_number" %></td>
    </tr>  
    <tr><td><hr></td></tr>
        <%= f.hidden_field :verify %>

    <tr>  
      <td><%= f.text_field :registration_number,  placeholder: "registration_number" %></td>
    </tr>   
    <tr><td><hr></td></tr>

    <tr>
      <td><%= f.text_field :opening_time,  placeholder: "opening_time" %></td>
    </tr> 

    <tr><td><hr></td></tr>

    <tr>
      <td><%= f.text_field :closing_time,  placeholder: "closing_time" %></td>
    </tr> 

    <tr><td><hr></td></tr>

    <tr>  
      <td><%= f.text_field :discount,  placeholder: "discount" %></td>
    </tr>  
    <tr><td><hr></td></tr>
    <tr>
      <td><h5>Address :</h5></td>
    </tr>
    
  </table>
  <%= f.submit "Sign up", class:"btn btn-outline-info" %>
<% end %>
</center>
</div>
</center>
<%#= render "devise/shared/links" %>
</div>
    