<div class="container">
	<h1>users_lists<h1>
</div>


<div class="container">
<table class="table">
	<tr>  
	  	<td>Name:</td>
	  	<td>Mobile_number:</td>
	  	<td>Email:</td>
	  	<% if can? :manage, :all %>
	  	<td>Block/Unblock:</td>
	  	<% end %>
      <!-- <td>Image:</td> -->
	  </tr>
	<% @users.each do |user| %>
	
	  <tr>  
	  	<td><%= user.first_name %>   <%= user.last_name %></td>
	  	<td><%= user.mobile_number %></td>
	  	<td><%= user.email %></td>
	  	<!-- <td><%#= user.address.colony %></td> -->
	  	<td>
	  	<% if can? :manage, :all %>
	  		<% if user.status == true %> 
	  			<%= link_to "Block", user_block_unblock_user_path(user.id), data: {confirm: "Are you sure?"}, class: "text-warning" %>
	  		<% else %>
	  			<%= link_to " Unblock", user_block_unblock_user_path(user.id), data: {confirm: "Are you sure?"} %>
	  		<% end %>
	  	<% end %>
	    </td>
	    
	  </tr>
	<% end %>
</table>
</div>