<div class="container">
<center>

    <p> Welcome Home </p>
  
    <% if user_signed_in? %>
      <%= current_user.email %>

      <% if can? :create, MedicalShop %>

        | <%= link_to "Registration_Medical_Shop", new_medical_shop_path(current_user.id), class:"bg-secondary text-warning" %> |
      <% else %>
        <p> hell0 U$er</p>
      <% end %>
    <% else %>
      
    <% end %>
   
  
</center>
</div>