
<div class="container">
<table class="table">
	<tr class="bg-secondary">
	  	<th>Medical_Shop_Name:</th>
	  	<th>Mobile_number:</th>
	  	<th>Address</th>
	  	<th>latitude:</th>	
	  <% if can? :manage, :all %>
	  	<th>verify:</th>
	  <% end %>	
	  	<th>More:</th>
	  <% if can? :edit, MedicalShop %>
	  	<th>Edit:</th>
	  <% end %>
      <!-- <td>Image:</td> -->
	  </tr>
		<% @medical_shops.each do |medical_shop| %>
	
		  <tr>  
		  	<td><%= medical_shop.name %></td>
		  	<td><%= medical_shop.mobile_number %></td>
		  	<td><%= medical_shop.area %>, <%= medical_shop.city %></td>
		  	<td><%= medical_shop.latitude %></td>
		  	<% if can? :manage, :all %>
			  	<td>
			  	
			  		<% if medical_shop.verify == false %> 
			  			<%= link_to "Not Verify", medical_shop_medical_shop_verification_path(medical_shop.id), data: {confirm: "Are you sure?"} %>
			  		<% else %>
			  			<%= link_to " Verified", medical_shop_medical_shop_verification_path(medical_shop.id), data: {confirm: "Are you sure?"} %>
			  		<% end %>
			  		
			    </td>
			  <% end %>
		    <td><%= link_to "More", medical_shop_path(medical_shop.id) %></td>
		    <% if can? :edit, MedicalShop %>
		    	<td><%= link_to "edit", edit_medical_shop_path(medical_shop.id) %></td>
		    <% end %>
	      <!-- <td><%#= image_tag medical_shop.image %></td> -->
		  </tr>
	  <% end %>
</table>
</div>