<div class="container">
<center>
  <div id="formContent">
    <center>
<h4>Sign up for medical store</h4>

<%= form_for :medical_shop, :url => { :action => "create" } do |f| %>

  <table>
    <tr><td><hr></td></tr>
    <tr>
      <td><h5>Basic Information :</h5></td>
    </tr>
    <tr><td><hr></td></tr>  
    <tr>
      <td><%= f.text_field :name, placeholder: "medical_name" %></td>
    </tr>
    <tr><td><hr></td></tr>
    <tr>  
      <td><%= f.text_field :registerd_person_name, placeholder: "registerd_person_name" %></td>
    </tr>
    <tr><td><hr></td></tr>  
    <tr>
      <td><%= f.text_field :mobile_number, placeholder: "mobile_number" %></td>
    </tr>  
    <tr><td><hr></td></tr>
        <%= f.hidden_field :verify %>
        <%= f.hidden_field :user_id, value: current_user.id %>
    <tr>  
      <td><%= f.text_field :registration_number,  placeholder: "registration_number" %></td>
    </tr>   
    <tr><td><hr></td></tr>
    <tr><td>Insert_Licence</td></tr>
    
    <tr>  
      <td> <%= f.file_field :image, direct_upload: true, accept: 'image/jpeg' %></td>
    <!-- accept: 'application/pdf, 
    application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document' -->
    </tr>   
    <tr><td><hr></td></tr>
         

    <tr>
      <td><%= f.text_field :opening_time,  placeholder: "opening_time" %></td>
    </tr> 

    <tr><td><hr></td></tr>

    <tr>
      <td><%= f.text_field :closing_time,  placeholder: "closing_time" %></td>
    </tr> 

    <tr><td><hr></td></tr>

    <tr>  
      <td><%= f.text_field :discount,  placeholder: "discount" %></td>
    </tr> 

    <tr><td><hr></td></tr>

    <tr>  
      <td><%= f.text_area :shop_address,  placeholder: "shop_addres" %></td>
    </tr> 

    <tr><td><hr></td></tr>
    
    <tr>  
      <td><%= f.text_field :area,  placeholder: "area" %></td>
    </tr> 

    <tr><td><hr></td></tr>
    
    <tr>  
      <td><%= f.text_field :city,  placeholder: "city" %></td>
    </tr> 

    <tr><td><hr></td></tr>
    
    <tr>  
      <td><%= f.text_field :state,  placeholder: "state" %></td>
    </tr> 

    <tr><td><hr></td></tr>
    
    <tr>  
      <td><%= f.text_field :pincode,  placeholder: "pincode" %></td>
    </tr> 
    <%= f.hidden_field :latitude, :value => params[:latitude] %>
          <%= f.hidden_field :longitude, :value => params[:longitude] %>
    <tr><td><hr></td></tr>

  </table>
  <%= f.submit "Sign up", class:"btn btn-outline-info" %>
<% end %>
</center>
</div>
</center>
<%#= render "devise/shared/links" %>
</div>