<div class="container p-4">
	<center><h4>Medical Shop</h4></center>
	<div class="col-md-12 mt-4">
		<%= form_tag(search_medical_shops_path, :method => :get, class: "navbar-form navbar-left") do %>
		<div class="row">
			<div class="form-group mr-3">
	  		<%= text_field_tag :search, params[:search], placeholder: "city / area / shop_name", class: "form-control" %>
			</div>
			<div class="form-group mr-3">
	  		<%= text_field_tag :discount_min, params[:discount_min], placeholder: "Discount Min", class: "form-control" %>
			</div>
			<div class="form-group mr-3">
	  		<%= text_field_tag :discount_max, params[:discount_max], placeholder: "Discount Max", class: "form-control" %>
			</div>
      
      <% unless current_user.present? %>
				<div class="form-group mr-3">
	  			<%= text_field_tag :my_location, params[:my_location], placeholder: "near area better if pincode", class: "form-control" %>
				</div>
			<% end %>

			<div class="form-group mr-3">
				<%= check_box_tag :open, Time.now.strftime("%H") %> open
    	</div>
    	
    	<%= hidden_field_tag :search_form, :value => "search_form"  %>
			<div class="form-group">
	  		<%= submit_tag ("Search"), class: "btn btn-primary" %>
	  	</div>
		</div>
	  
	<% end %>
	</div>


	<table class="table bg-dark text-light" >
		<% @medical_shopss.each_with_index do |result, i| %>
		<tr><td colspan="2"><span class="badge badge-light"><%= i+1 %></span></td></tr>
		<tr><th>Shop Name</th><td><%= result.name %></td></tr>
  	<tr><th>Contact Number</th><td><%= result.mobile_number %></td></tr>
  	<tr><th>registerd_person_name</th><td><%= result.registerd_person_name %></td></tr>
  	<tr><th>registration_number</th><td><%= result.registration_number %></td></tr>
  	<tr><th>discount</th><td><%= result.discount %>%</td></tr>
  	<tr><th>opening_time</th><td><%= result.opening_time %> </td></tr>
  	<tr><th>closing_time</th><td><%= result.closing_time %></td></tr>
  	<tr><th>shop_address</th><td><%= result.shop_address %>, <%= result.area %>,  <%= result.city %>,<%= result.state %> pincode( <%= result.pincode %> )</td></tr>
  	
  	<tr><th>Liecence</th><td><%= image_tag result.image %></td></tr>
  	<tr><td colspan="2" style="background-color: #e5e4ff;"></td></tr>
    <% end %>
  </table>
</div>