<div class="container">
	<center>medical shop</center>
	<table class="table bg-dark text-light" >
		<tr><th>Shop Name</th><td><%= @medical_shop.name %></td></tr>
  	<tr><th>Contact Number</th><td><%= @medical_shop.mobile_number %></td></tr>
  	<tr><th>registerd_person_name</th><td><%= @medical_shop.registerd_person_name %></td></tr>
  	<tr><th>registration_number</th><td><%= @medical_shop.registration_number %></td></tr>
  	<tr><th>discount</th><td><%= @medical_shop.discount %>%</td></tr>
  	<tr><th>opening_time</th><td><%= @medical_shop.opening_time %> </td></tr>
  	<tr><th>closing_time</th><td><%= @medical_shop.closing_time %></td></tr>
  	<tr><th>shop_address</th><td><%= @medical_shop.shop_address %>, <%= @medical_shop.area %>,  <%= @medical_shop.city %>,<%= @medical_shop.state %> pincode( <%= @medical_shop.pincode %> )</td></tr>
  	
  	<tr><th>Liecence</th><td><%= image_tag @medical_shop.image %></td></tr>
  </table>
</div>
