<div class="container">
  <center>
    <div id="formContent">
      <center>
        <table>
        <tr>
          <td><h2>Log in</h2></td>
        </tr>
        <tr><td><hr></td></tr>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name))       do |f| %>
        <tr>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %></td>
        </tr>

         <tr><td><hr></td></tr>

        <tr><td><%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %></td></tr>
         <tr><td><hr></td></tr>
        <% if devise_mapping.rememberable? %>
        <tr>
          <td><%= f.check_box :remember_me %>
          <%= f.label :remember_me %></td>
        </tr>
        <tr><td><hr></td></tr>
        <% end %>
          <tr><td><div class="actions"><%= f.submit "Log in" %></div></td></tr>
          <tr><td><%= link_to "Forgot your password?", new_password_path(resource_name) %> <tr><td> 
      <% end %>
      </table>
      </center>
    </div>
  </center>
</div>