@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
#formContent {
    width: 90%;
    max-width: 600px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px 0px;
    text-align: center;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 0px;
}

body { 
  background-image: image-url('m.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-opacity: .2
}

.container
{
  background-color: #e5e4ff;
}
.header
{
  background-color: grey;
}