<div class="header">
<center>
	<%= link_to 'search', search_medical_shops_path, class:"bg-dark text-warning" %>
  <%= link_to "All Medical", medical_shops_path , class:"bg-dark text-warning"%>  
  <% if user_signed_in? %>
  |	<%= link_to 'logout', destroy_user_session_path, method: :delete, class:"bg-dark text-warning" %> | <%= link_to 'edit', edit_user_registration_path, class:"bg-dark text-warning"%> |   <%= link_to "users", users_path , class:"bg-dark text-warning"%> | 
  <% else %>
  	| <%= link_to 'Sign In', new_user_session_path, class:"bg-dark text-warning"%> /
  	<%= link_to "Sign Up for user", new_user_registration_path(:role => 'customer'), class:"bg-dark text-warning" %> | <%= link_to "Sign Up for medical", new_user_registration_path(:role => 'shopkeeper'), class:"bg-dark text-warning" %> |<%#= link_to "Forgot your password?", new_password_path(resource_name) %> 
  <% end %>
</center>
</div>